{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
  <article id="hero">
    <h1 class="heading_shadow">Who doesn't like pasta?</h1>
    <p>
      Pastaverse is a modern restaurant web application, developed with Django and Django Rest Framework. Explore a seamless dining experience with features like menu management, online ordering, reservations, and more.
    </p>
    <a href="{% url 'about' %}" class="cta"> More in-depth description here! </a>
  </article>
</section>
<section>
  <article>
    <h2>Our Menu</h2>
    <img src="{% static 'img/menu.jpg' %}">
    <p>
      Our menu consists in... pasta?
    </p>
    <p>
      <a href="{% url 'menu' %}">See our menu</a>
    </p>
  </article>
  <article>
    <h2>Book a table</h2>
    <img src="{% static 'img/book.jpg' %}">
    <p>
      Reserve your table for a transcendental tomato-flavored experience.
    </p>
    <p>
      <a href="{% url 'book' %}">Book your table now</a>
    </p>
  </article>
  <article>
    <h2>Opening Hours</h2>
    <img src="{% static 'img/open.jpg' %}">
    <p>
      The Pastaverse Restaurant is open 7 days a week, except for public holidays. 
    </p>
    <ul>
      <li>Mon - Fri: 10am - 10pm</li>
      <li>Sat: 2pm - 11pm</li>
      <li>Sun: 2pm - 10pm</li>
    </ul>
  </article>
</section>
{% endblock %}